header{
    background: #0066CC;
    position: sticky;
    top: 0;
    width: 100%;
    height:50px;
    padding: 10px;
    margin: 0 auto;

}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

body{
    margin: 0 auto;
}
#tytul {
    border-radius: 30px 30px 30px 30px;
    background: lightslategray;
    position: absolute;
    color: #0066CC;
    padding: 10px; 
    font-family: "Roboto Slab", Times, serif;
    font-size: 20px;
    margin: 0 auto;
}

#column1 {
    float: left;
    width: 50;
    padding: 10px;
}

#column2 {
    float: left;
    width: 80;
    padding: 10px;
}

#row {
    content: "";
    display: table;
    clear: both;
}

#spoiler {
    display: none;
}
.container {
    width: 100%;
}
table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    border: 1px solid;
    padding: 5px;
}
#map {
    height: 600px;
  }
.left, .right {
    margin: 10px;
    float: left;
    width: 48%;
}